header{
    display: flex;
    flex-direction: column;
    .title-name{
        display: flex;
        flex-direction: column;
        h1{
            font-size: 28px;
            line-height: 42px;
            font-weight: 600;
        }
        h3{
            font-size: 20px;
            line-height: 30px;
            font-weight: 400;
        }
    }
}